* {
    padding: 0;
    margin: 0;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

.Main_Menu {
    text-align: center;
}

.Main_Buttons {
    margin: 0 auto;
    cursor:pointer;
    display:block;
    height:5%;
    width: 10%;
}

.restart_b{
    display: none;
    top:50%;
    left:500px;
}

body {
    background: black;
}

